
.modal {
  background: rgb(0 0 0 / 60%);
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-card {
  background: #FFFFFF;
  width: 80%;
  height: 300px;
  border-radius: 8px;
  padding: 16px;
}

.modal-title {
  font-size: 22px;
  font-weight: 500;
  border-bottom: 1px solid #CCCCCC;
  display: block;
  padding-bottom: 8px;
}

.modal-form {
  margin-top: 16px;
  margin-bottom: 25px;
}

.modal-form input {
  display: flex;
  padding: 10px;
  border-radius: 5px;
  border: 1px #888888 solid;
  margin-top: 8px;
  height: 50px;
  width: 100%;
  font-size: 14px;
}

.save-button {
  height: 48px;
  width: 100%;
  border: 0;
  background: #388E3C;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 500;
  border-radius: 8px;
}

.save-button:hover {
  background: #2d5e19;
  cursor: pointer;
}

.save-button:disabled {
  background: #b1e29d;
}

.dismiss-button {
  height: 48px;
  width: 100%;
  border: 0;
  font-size: 16px;
  color: #555555;
  background: #FFFFFF;
  font-weight: 500;
  border-radius: 8px;
  margin-top: 10px;
  border: 2px #888888 solid;
}

.dismiss-button:hover {
  background: #DDDDDD;
  cursor: pointer;
}
