nav {
  height: 70px;
  background-color: #388E3C;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 6px 6px rgb(47 47 47 / 30%);
  position: fixed;
  width: 100%;
  top: 0;
  overflow: hidden;
  justify-content: space-between;
}

.nav-wrapper {
  display: flex;
}

.navbar-brand {
  font-size: 22px;
  margin-left: 16px;
  color: #FFFFFF !important;
}

.back-button {
  background: none;
  border: 0;
  margin-left: 16px;
}

.back-icon {
  width: 22px;
  height: 22px;
  object-fit: contain;
}

.star-button {
  background: none;
  border: 0;
  margin-left: 16px;
  margin-right: 16px;
}

.star-icon {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.back-button:hover, .star-button:hover {
  cursor: pointer;
}

@media screen and (min-width: 1000px) {
  .nav-wrapper {
    margin-left: 8%;
  }
  
  .navbar-brand {
    margin-left: 0;
  }

  .back-button {
    margin-left: 0;
    margin-right: 16px;
  }

  .star-button {
    margin-right: 8%;
  }
}
