.flat-list {
  margin-left: 16px;
  margin-right: 16px;
}

.list-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px #EEEEEE solid;
  padding: 8px 16px;
  border-radius: 8px;
  margin-bottom: 8px;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(47,47,47,0.15); 
  box-shadow: 0px 4px 6px 0px rgba(47,47,47,0.15);
}

.flat-img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-right: 16px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
}

.grid a {
  color: #111111;
}

.card {
  background-color: #FFFFFF;
  border: 1px #EEEEEE solid;
  border-radius: 8px;
  padding: 10px 4px;
  -webkit-box-shadow: 0px 4px 7px 1px rgba(47,47,47,0.20); 
  box-shadow: 0px 4px 7px 1px rgba(47,47,47,0.20);
}

.card-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.card-title {
  margin: 0;
  color: #555555;
  overflow: hidden;
  font-size: 16px;
  font-weight: 500;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@media screen and (min-width: 800px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .img-detail {
    width: 480px;
  }
}

@media screen and (min-width: 1000px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}