.flat-list {
  margin-left: 16px;
  margin-right: 16px;
}

.list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px #EEEEEE solid;
  padding: 8px 16px;
  border-radius: 8px;
  margin-bottom: 8px;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(47,47,47,0.15); 
  box-shadow: 0px 4px 6px 0px rgba(47,47,47,0.15);
}

.row-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flat-img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-right: 16px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
}

.grid a {
  color: #111111;
}

.card {
  background-color: #FFFFFF;
  border: 1px #EEEEEE solid;
  border-radius: 8px;
  padding: 10px 4px;
  -webkit-box-shadow: 0px 4px 7px 1px rgba(47,47,47,0.20); 
  box-shadow: 0px 4px 7px 1px rgba(47,47,47,0.20);
}

.card:hover {
  background-color: #EEEEEE;
  cursor: pointer;
}

.list-container:hover, .list-container:hover button {
  background-color: #EEEEEE;
}

.card-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 8px;
}

.card-title {
  margin: 0;
  color: #555555;
  overflow: hidden;
  font-size: 16px;
  font-weight: 500;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.remove-button {
  background: #FFFFFF;
  border: 0;
  margin-top: 8px;
}

.remove-button:hover {
  cursor: pointer;
}

.remove-icon {
  width: 20px;
  height: 20px;
}

.remove-icon:hover {
  background: #DDDDDD;
  border-radius: 20px;
}

.star-fill {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.muted-text {
  color: #999999;
}

@media screen and (min-width: 800px) {
  .flat-list {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
  }

  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .img-detail {
    width: 480px;
  }
}

@media screen and (min-width: 1000px) {
  .flat-list {
    margin-left: 8%;
    margin-right: 8%;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 8%;
    margin-right: 8%;
    padding-left: 0;
    padding-right: 0;
  }
}